@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

header .logo img {
    max-width: 150px;
}
header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header .separador {
    background-color: #cccccc;
    height: 5px;
    width: 100%;
}
nav ul {
    list-style: none;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    background-color: #cccccc;
    gap: 5px;
    margin: 0px;
    padding: 20px 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 20px 25px;
}

nav ul li a.active {
    color: white;
    background-color: black;
}
.hero {
    background: url('../img/foto_slide.jpg') center/cover no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text h1 {
    color: rgb(0, 0, 0);
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-weight: 800;
}

.popular {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #eeeeee;
}

.popular h2 {
    margin: 0px;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 24px;
}

.popular-items {
    margin: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    text-align: center;
}

.item img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.item p {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.btn {
    background-color: #cccccc;
    width: max-content;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
footer .color_top{
    width: 100%;
    height: 10px;
    background-color: #cccccc;
}
footer .color_bottom{
    width: 100%;
    height: 10px;
    background-color: #333333;
}
footer .footer-information{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img {
    width: 120px;
    margin: 20px;
}

.social-links {
    margin: 0 50px;
}

.social-links a {
    margin: 0 10px;
    color: #333333;
    font-size: 20px;
}

.social-links a:hover {
    color: gray;
}

@media screen and (max-width: 768px) {
    footer {
        margin: 0;
    }
    .popular-items {
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        margin: 20px
    }
}
@media screen and (max-width: 768px) {
    footer {
        margin: 0;
    }
    .popular-items {
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        margin: 20px
    }
}
@media screen and (max-width: 580px) {
    header .logo {
        height: 120px;
    }
    nav {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        gap: 5px;
        padding: 0px 0px;
    }
    nav ul li a {
        display: block;
        text-align: start;
        background-color: white;
    }
    nav ul li:last-child {
        margin-bottom: 5px;
    }
    .hero {
        height: 450px;
    }
    .hero-text h1 {
        background-color: unset;
        font-size: 60px;
        margin: 0;
        text-align: center;
        font-weight: 800;
    }
    .hero-text {
        padding: 5px 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
    }
    footer {
        margin: 0;
    }
    footer .footer-information {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin: 25px;
    }
    .footer-logo img {
        margin: 0px;
    }
    .popular-items {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item {
        margin: 20px 0;
        width: 100%;
    }
}